body {
    margin: 0;
}

.title-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.title {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 46px;
}

.chart-container {
    width: 100%;
}
